Source: wiringx
Priority: optional
Maintainer: Maintainer: Josua Mayer <privacy@not.given>
Build-Depends: debhelper (>= 9), cmake
Standards-Version: 3.9.5
Section: libs
Homepage: http://wiringx.org/
Vcs-Git: https://github.com/mxOBS/wiringX.git
Vcs-Browser: https://github.com/mxOBS/wiringX

Package: libwiringx-dev
Section: libdevel
Architecture: any
Depends: libwiringx (= ${binary:Version}), ${misc:Depends}
Description: Development files for libwiringx
 Provides libraries and headers to create programs with libwiringx.

Package: libwiringx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: hacker-friendly I/O library
 Provides a hacker-friendly library for direct I/O including GPIO, SPI, I2C and serial.

Package: libwiringx-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Examples for libwiringx
 Provides example applications built with libwiringx.
